@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Questrial", sans-serif; 
}

@layer base {
  body {
    font-family: 'Zalando Sans Expanded', sans-serif;
  }
}

.scroll-lock {
  overflow: hidden;
  height: 100%;
}

/* hide scrollbar but keep scrolling */
.scrollbar-overlay {
  scrollbar-gutter: stable both-edges;
  overflow-y: overlay;
}

.scrollbar-overlay::-webkit-scrollbar {
  width: 0; /* Chrome/Safari */
  background: transparent;
}

.fruitger-inset
{
  box-shadow: inset 3px 3px 12px rgba(107,114,128,0.6);
}

.neu-text-shadow
{
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
}